

.principal{
  background-image: url("../../../../assets/img/backgroud1.jpg.png");
  width: 100%;
  height: 1000px;
  background-size: cover;

}
.principal .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.principal .nav .logo {
  padding: 10px;
  display: flex;
  justify-self: flex-start;
}

.principal .nav .menu {
  color: #fff;
}


.principal .nav .menu a {
  font-size: 20px;
  padding: 15px;
  margin-right: 30px;
}

.principal .nav .menu a:hover{
  color:orange;
}

.principal .photo-text {
  display: flex;
  align-items: center;
  width: 100px;

}


.sobre{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sobre .img{
  width: 50%;
  background-image: url("../../../../assets/img/sobrenos.png");
  background-size: cover;
}

.sobre .sobreNos{
  background-color: #464646;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobreNos h2{
  color:orange;
  font-size: 40px;
}
.sobreNos p{
  padding: 30px;
  text-align: center;
  max-width: 600px;
  font-size: 25px;
  color: #fff;


}
.equipe, .servicos, .produtos{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produtos{
  height: 420px;
}

.container{
  width: 2000px;
  height: 500px;


}

.equipe .titulo, .servicos .titulo , .produtos .titulo, .localizacao .titulo{
  color:orange;
  font-size: 40px;

}
.equipe , .produtos{
background-color: #f4f4f4;
}
.servicos{
  background-color: #464646;
}
.localizacao{
  background-color: #464646;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.localizacao iframe{
  width: 1000px;
  height: 500px;
}
.localizacao .titulo{
  padding-top: 20px;
}

.contatos {
  background-color:#f4f4f4;
  padding: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}
.contatos h2{
  color: orange;
  font-size: 25px;
  text-align:center;
}

.contatos ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
.networks ul{
  padding-left: 0;
}
.networks ul li, .horarios ul li{
  padding: 20px;
  display: flex;
  align-items: center;
}

.footer{
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 30px;
}
